[submodule "av1/aom"]
	path = av1/aom
	url = https://aomedia.googlesource.com/aom
[submodule "h265/HM"]
	path = h265/HM
	url = https://vcgit.hhi.fraunhofer.de/jvet/HM.git
[submodule "vp9/libvpx"]
	path = vp9/libvpx
	url = https://chromium.googlesource.com/webm/libvpx
[submodule "jpeg/libjpeg"]
	path = jpeg/libjpeg
	url = https://github.com/LuaDist/libjpeg
[submodule "jpeg/libjpeg-turbo"]
	path = jpeg/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "jpeg/mozjpeg"]
	path = jpeg/mozjpeg
	url = https://github.com/mozilla/mozjpeg
[submodule "jpeg/openjpeg"]
	path = jpeg/openjpeg
	url = https://github.com/uclouvain/openjpeg
[submodule "jpeg/jpeginfo"]
	path = jpeg/jpeginfo
	url = https://github.com/tjko/jpeginfo
[submodule "avs2/davs2"]
	path = avs2/davs2
	url = https://github.com/pkuvcl/davs2.git
[submodule "avs2/xavs2"]
	path = avs2/xavs2
	url = https://github.com/pkuvcl/xavs2.git
